* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}


.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background: rgba(0,0,0,0.6);
  padding: 15px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  transition: 0.3s ease;
}

.navbar.scrolled {
  background: #000;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-links li a {
  text-decoration: none;
  font-size: 18px;
  color: #fff;
  transition: 0.3s;
}

.nav-links li a:hover {
  color: #00c853;
}


.nav-btn {
  background: #2d4437;
  padding: 10px 20px;
  border-radius: 6px;
  color: #fff;
  font-size: 18px;
  text-decoration: none;
  transition: 0.3s;
}

.nav-btn:hover {
  background: #009142;
}

#home {
  background-image: url('https://images.unsplash.com/photo-1527689368864-3a821dbccc34');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 80px;
  opacity: 0.9;
}

#home .content {
  background: rgba(0,0,0,0.55);
  padding: 30px 25px;
  border-radius: 10px;
}

#home h1 {
  font-size: 50px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 20px;
}

#home p {
  font-size: 20px;
  color: #e4e4e4;
  margin-bottom: 30px;
}


.btn-group a {
  padding: 12px 25px;
  background: #0066ff;
  border: none;
  color: #fff;
  font-size: 18px;
  text-decoration: none;
  border-radius: 6px;
  margin: 0 10px;
  transition: 0.3s;
}

.btn-group a:hover {
  opacity: 0.85;
}



.about-section {
  padding: 80px 10%;
  background: #0a0909;
}

.about-container {
  display: flex;
  align-items: center;
  gap: 40px;
}

.about-img img {
  width: 100%;
  max-width: 450px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}

.about-text h2 {
  font-size: 35px;
  margin-bottom: 20px;
  color: whitesmoke;
}

.about-text p {
  font-size: 17px;
  line-height: 1.6;
  color: whitesmoke;
  margin-bottom: 15px;
}

@media (max-width: 768px) {
  .about-container {
    flex-direction: column;
    text-align: center;
  }

  .about-text h2 {
    font-size: 28px;
  }
}


.services-section {
  padding: 10px 10%;
  text-align: center;
  background: #282727;
}

.services-section h2 {
  font-size: 35px;
  margin-bottom: 10px;
}

.service-subtext {
  font-size: 18px;
  color: #ffffff;
  margin-bottom: 40px;
}

.services-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 40px;
}

.service-box {
  background: white;
  padding: 30px 20px;
  border-radius: 10px;
  transition: 0.3s;
  border: 2px solid transparent;
}

.service-box img {
  width: 70px;
  margin-bottom: 15px;
}

.service-box h3 {
  font-size: 22px;
  margin-bottom: 10px;
  color:black;
}

.service-box p {
  color: #333;
  font-size: 16px;
}


.service-box:hover {
  transform: translateY(-10px);
  border-color: #567e67;
  background: #e9fff0;
}

@media (max-width: 768px) {
  .services-section h2 {
    font-size: 28px;
  }
}


.contact-section {
  padding: 35px 14%;
  background: #424040;
  text-align: center;
}

.contact-section h2 {
  font-size: 35px;
  margin-bottom: 10px;
}

.contact-subtext {
  font-size: 18px;
  color: #fffefe;
  margin-bottom: 40px;
}


.contact-container {
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}


.contact-info {
  max-width: 400px;
  text-align: left;
}

.contact-info h3 {
  font-size: 22px;
  margin-bottom: 15px;
}

.contact-info p {
  font-size: 16px;
  margin: 8px 0;
}


.contact-form {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 12px;
  border: 1.5px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
}

.contact-form button {
  padding: 12px;
  background: #00c853;
  color: #fff;
  font-size: 18px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.contact-form button:hover {
  background: #009142;
}


@media (max-width: 768px) {
  .contact-container {
    text-align: center;
  }
  
  .contact-info {
    text-align: center;
  }
}
.signup-btn {
    background: #0073e6;
    color: white !important;
    padding: 8px 15px;
    border-radius: 6px;
    transition: 0.3s;
    text-decoration: none;
}

.signup-btn:hover {
    background: #005bb5;
}
